<div class="center jumbotron">
<p id="notice"><%= notice %></p>
<br/>
<h1 style="text-align:left;"> Bill Generation </h1>
<table class="table table-striped table-bordered table-hover">
<thead>
<th>
<p>
  <strong>Book name :</strong>
  <%= @booking.book_name %>
</p>

<p>
  <strong>Book date :</strong>
  <%= @booking.book_date %>
</p>

<p>
  <strong>Tour name :</strong>
  <%= @booking.package.pkg_title %>
</p>

<p>
  <strong>Book price :</strong>
  <%= @booking.book_price %>
</p>

<p>
  <strong>No of person :</strong>
  <%= @booking.book_ticket_num %>
</p>

<p>
  <strong>Book amount :</strong>
  <%= @booking.book_amount %>
</p>

<p>
  <strong> Tax  :</strong>
  <%= @booking.tax %>
</p>

<p>
  <strong>Other Charges :</strong>
  <%= @booking.other %>
</p>

<p>
  <strong> Total Amount  :</strong>
  <%= @booking.total_amount %>
</p>
<%= form_tag charges_path(:booking_id =>@booking) do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_YB0VBhvK57yLDFXZR7lOPZo3"
          data-description="A month's subscription"
          data-amount="<%= @booking.total_amount * 100 %>"
          data-locale="auto"></script>
<% end %>
</th>
</thead>
</table>
</div>
