<header class="navbar navbar-fixed-top navbar-inverse   navbar-fixed-left">
  <div class="container">
    <%= link_to "Tour App", root_path, id: "logo" %>
    <nav>
     <% if user_signed_in? %>
        <h2> welcome <%= current_user.uname %></h2>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Packages",  packages_path %></li>
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "About",   static_pages_about_path %></li>
        <li><%= link_to "Contact", static_pages_contactus_path %></li>
        <% if not user_signed_in? %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <% if current_user.has_role? :visitor %>
            <li><%= link_to "Feedback", new_feedback_path %></li>
            <% end %>
        <% end %>
        <% if user_signed_in? %>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% end %>
     </ul>
       <% if user_signed_in? %>
          <% if current_user.has_role? :superadmin %>
              <ul class="nav navbar-nav">
                <li><%= link_to "Feedback",feedbacks_path %></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Panel 
                    <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Add City",new_city_path %></li>
                    <li><%= link_to "Show Cities",cities_path %></li>
                    <li><%= link_to "Add Bus",new_bus_path %></li>
                    <li><%= link_to "Show Buses",buses_path %></li>
                    <li><%= link_to "Add Driver",new_driver_path %></li>
                    <li><%= link_to "show Driver",drivers_path %></li>
                    <li><%= link_to "Add Package",new_package_path %></li>
                    <li><%= link_to "show Package",packages_path %></li>
                  <li><%= link_to "Add TourDetail",new_tour_detail_path %></li>
                  <li><%= link_to "Show Tour Detail",  tour_details_path %></li>
                  <li><%= link_to "Show Bookings & bill",  bookings_path %></li>
                    </ul>    
                  </li>
                </ul> 
            <%end%>
        <% end %>
        <% if user_signed_in? %>
          <% if current_user.has_role? :visitor %>
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">List 
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><%= link_to "City",cities_path %></li>
                        <li><%= link_to "Bus",buses_path %></li>
                        <li><%= link_to "Tour Packages ",packages_path %></li>
                        <li><%= link_to "Tour Booking",new_booking_path %></li>
                        <li><%= link_to "Show Bookings",bookings_path %></li>
                    </ul>    
                  </li>
                </ul> 
            <%end%>
        <% end %>
    </nav>
  </div>
</header>
